<!-- app/views/home/index.html.erb -->

<h1>Test Axios with Stimulus</h1>

<div data-controller="hello">
  <button data-action="click->hello#fetchData" class="btn btn-primary">Fetch Data</button>
  <div data-hello-target="result" style="margin-top: 20px;"></div>
</div>

<h1>Test Feather Icons</h1>

<!-- Add a feather icon -->
<i data-feather="camera"></i>
<i data-feather="heart"></i>
<i data-feather="star"></i>